.header {
  position: sticky;
  top: 0px;

  position: fixed;
  top: 3em;
  background-color: white;

  &.dark-mode {
    background-color: $very-dark-gray;
    color: $neutral-gray;

    li:hover {
      background-color: black;
    }
  }

  nav {
    ul {
      margin: 0px;
      //   display: flex;
      //   justify-content: space-between;

      li {
        padding: 1em;
        cursor: pointer;

        a {
        }
        &:hover {
          background-color: $light-gray;
        }
      }
    }
  }
}
