.header{
    position: sticky;
    top: 0px;
    background-color: white;


    
    nav{
        
        
        ul{
            margin: 0px;
            display: flex;
            justify-content: space-between;
            
            
            
            li{
                padding: 1em;
                cursor: pointer;

                a{
                    
                }
                &:hover{
                    background-color: $light-gray;
                    
                }
            }

        }

    }

}